.banner{
    background-image: linear-gradient(to bottom, #7BBBEE 0%, #281AC8 100%);
    position: relative;
    height: 100vh;
    width: 100vw;
    margin-top: 6rem;
}

.r{
    padding: 8rem;
    height: auto;
}

@media screen and (max-width: 650px) {
    .r{
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
}

.banner h1{
    font-weight: 700;
    color: #FFFFFF;
}

.banner p{
    margin-top: 33px;
    color: #FFFFFF;
}

.banner_img{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.banner svg{
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
}

svg{
    width: 100vw;
    height: auto;
}

svg.up{
    transform: translateY(-1px) !important;
}

svg.down{
    transform: translateY(1px) !important;
}

@media screen and (max-width: 600px) {
    .banner{
        height:unset !important;
    }
}

.login_button_home{
    margin-top: 8px;
    margin-right:  3rem;
    width: 10rem;
    border-radius: 30px;
    background-color: white;
    border: none;
    color: #6f86d6;
    text-align: center;
    font-size: 16px;
    height: 3.5rem;
    font-weight: 700;
}

.about_img{
    width: 100%;
}

.about{
    padding-left: 8rem;
    padding-right: 8rem;
}

@media screen and (max-width: 768px) {
    .about{
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
    div.right_about {
        padding-right: calc(var(--bs-gutter-x) * .5) !important;
        margin-bottom: 1rem;
    }
    div.left_about{
        padding-left: calc(var(--bs-gutter-x) * .5) !important;
    }
}


.right_about{
    padding-right: 4rem !important;
}

.left_about{
    padding-left: 4rem !important;
}

.left_about > h1{
    font-size: 28px;
    color: rgba(110, 160, 232, 1);
    font-weight: 700;
}

.left_about > p{
    font-size: 16px;
    line-height: 40px;
}


.line{
    height: 8px;
    width: 80px;
    background: red;
    left: 10px;
    border-radius: 20px;
    margin-bottom: 16px;
    margin-top: 12px;
}

.login_button_gre{
    font-weight: bold;
    width: 10rem;
    border-radius: 30px;
    background-image: linear-gradient(to bottom, #7BBBEE 0%, #281AC8 100%);
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    height: 3.5rem;
}


.cards_list{
    background-image: linear-gradient(to bottom, #7BBBEE 0%, #281AC8 100%);
}

.cards{
    padding-left: 8rem;
    padding-right: 8rem;
}

@media screen and (max-width: 650px) {
    .cards{
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
}

.cards > div {
    padding-bottom: 4rem;
}

.card_btn{
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    background-color: rgb(56, 56, 207) !important;
}

.details{
    display: flex;
}

.details > div {
    margin-left: 20vw;
    margin-right: 10vw;
    margin-bottom: 4rem;
}

.details p {
    width: 80%;
    display: block;
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 40px;
    color: #333333;
}

span.details_num {
    position: relative;
    color: #FF96AD !important;
    font-size: 75px !important
}

.details_num::after{
    position: absolute;
    content: '';
    height: 2px;
    bottom: -4px; 
    height: 8px;
    width: 80px;
    background-color: #FF96AD;    left: 10px;
    border-radius: 20px;
}

.donation{
    margin-bottom: 16rem;
}

.donation .svg{
    width: 100vw;
    width: 100vw;
    overflow-x: hidden;
    position: absolute;
}

.donation_gap{
    height: 0px;
}


.item_donated_card{
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.1);
    margin-left: 8rem;
    margin-right: 8rem;
    transform: translateY(8rem);
    padding: 3rem;
}

@media screen and (max-width: 650px) {
    .item_donated_card{
        margin-left: 1.5rem !important;
        margin-right: 1.5rem !important;
    }
}

.item_donated_card > h1{
    margin-bottom: 1.5rem;
}

.num_donated_sub{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    transform: translateY(-2px);
}

.donated_card{
    margin-bottom: 1.5rem;
}

.donor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.donor h2{
    font-weight: bold;
    font-size: 28px;
    color: #281BC8;
}

.donor_card img{
    border-radius: 100%;
    width: 70% !important;
}

.donor_card{
    border: unset !important;
    background-color: unset !important;
    margin-top: 2rem;
    margin-bottom: 1rem;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.donor_card p{
    text-align: center;
}

.donor_card h4{
    margin-top: 1rem;
}

.readmore_btn{
    width: 100%;
    border-radius: 30px;
    background-color: blue;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    height: 2.5rem;
}

.report{
    background-image: linear-gradient(to bottom, #7BBBEE 0%, #281AC8 100%);
    position: relative;
}

.report h3, .report h1{
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
}

.report h1{
    color: #FFFFFF;
    font-size: 65px
}


.report p{
    text-align: center;
    font-size: 1.5rem;
    color: #FFFFFF;
}

.report div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.volunteer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
.volunteer h3{
    color: #6f86d6;
    font-weight: bold;
    margin-bottom: .5rem;
}


.feedback{
    background-image: linear-gradient(to bottom, #7BBBEE 0%, #281AC8 100%);
    padding-bottom: 4rem;
}

.fed_form{
    width: 50%;
    background-color: #fafafa;
    margin: 0 auto;
    border-radius: 25px;
    padding: 2rem;
}

@media screen and (max-width: 940px) {
    .fed_form{
        width: 80% !important;
    }
}

.fed_form h4{
    text-align: center;
    color: #6f86d6;
    font-weight: bold;
}

.fed_form p{
    text-align: center;
    font-size: 1.2rem;
}

.fed_form input{
    height: 4rem;
    margin-bottom: 1rem;
}

.inner{
    padding-left: 3vw;
    padding-right: 3vw;
}

.inner form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner button{
    margin-top: 1rem;
}





