.main {
    padding-top: 6.8rem;
}

.content {
    display: flex;
    flex-direction: column;
    margin-left: 320px;
}

.sideway {
    display: flex;
    flex-direction: row; 
}

.report {
    flex: 2;
    margin-right: unset;
}

.donation {
    flex: 1;
}

@media screen and (max-width: 1000px) {
    .content {
        margin-left: auto !important;
        width: calc( 70vw - 15px);
    }
}