svg{
    width: 100vw;
    height: auto;
}

svg.up{
    transform: translateY(-1px) !important;
}

svg.down{
    transform: translateY(1px) !important;
}


.report{
    background-image: linear-gradient(to bottom, #7BBBEE 0%, #281AC8 100%);
    position: relative;
}

.report h3, .report h1{
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
}

.report h1{
    color: #FFFFFF;
    font-size: 65px
}


.report p{
    text-align: center;
    font-size: 1.5rem;
    color: #FFFFFF;
}

.report div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}


.line{
    height: 8px;
    width: 80px;
    background: red;
    left: 10px;
    border-radius: 20px;
    margin-bottom: 16px;
    margin-top: 12px;
}