svg{
    width: 100vw;
    height: auto;
}

svg.up{
    transform: translateY(-1px) !important;
}

svg.down{
    transform: translateY(1px) !important;
}

.line{
    height: 8px;
    width: 80px;
    background: red;
    left: 10px;
    border-radius: 20px;
    margin-bottom: 16px;
    margin-top: 12px;
}

.donor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.donor h2{
    font-weight: bold;
    font-size: 28px;
    color: #281BC8;
}

.donor_card img{
    border-radius: 100%;
    width: 70% !important;
}

.donor_card{
    border: unset !important;
    background-color: unset !important;
    margin-top: 2rem;
    margin-bottom: 1rem;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.donor_card p{
    text-align: center;
}

.donor_card h4{
    margin-top: 1rem;
    text-align: center;
}

.readmore_btn{
    width: 100%;
    border-radius: 30px;
    background-color: blue;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    height: 2.5rem;
}
